@import '../../assets/scss/helpers/variables';

.containerWrapper {
  position: relative;
}

.textLabel {
  color: $dark;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.inputWrapper {
  align-items: center;
  background: $white;
  border: 1px solid rgba(107, 119, 140, 0.3);
  border-radius: 4px;
  display: flex;
  height: 44px;
  outline: 0;
  position: relative;
  transition: color 0.3s, box-shadow 0.3s, border 0.3s;

  &.error {
    border-color: $red;
    box-shadow: 0 0 0 1px $red;
  }

  &.readonly {
    .input {
      cursor: default;
    }
  }

  &:focus-within:not(.readonly) {
    border-color: $blue;
    box-shadow: 0 0 0 1px $blue;
  }

  &:hover:not([data-disabled]):not(:focus-within):not(.error):not(.readonly) {
    border: 1px solid rgba(107, 119, 140, 0.5);
    box-shadow: 0 0 0 1px rgba(107, 119, 140, 0.5);
  }

  &[data-disabled] {
    background-color: rgba(107, 119, 140, 0.06);
    border: 1px solid rgba(107, 119, 140, 0.06);
    color: $gray;
  }
}

.input {
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  color: $dark;
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  max-height: 100%;
  outline: 0;
  padding: 10px 12px;
  width: 100%;

  &::placeholder {
    color: $gray;
  }
}

.textError {
  color: $red;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;

  &.errorPositionAbsolute {
    position: absolute;
    top: 100%;
  }
}

.leftContent {
  margin-right: 12px;
}

.rightContent {
  margin-left: 12px;
}
