/* stylelint-disable selector-max-id */
@import './vendors/normalize';
@import './helpers/fonts';

html,
body,
#__next {
  height: 100%;
}

body,
button {
  font-family: 'Inter';
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;

  &:focus {
    outline: 0;
  }
}

h1,h2,h3,h4,h5,p {
  margin: 0;
}
